.no-padding {
    padding: 0px;
}

.no-border {
    border: 0;
}

.no-margining {
    margin: 0;
}

.custom-divider {
    border-bottom: solid thin #e0e0e0;
}

.btn-modify-num {
    background: #2196F3;
    color: #fff
}

.gray-bg {
    background-color: #f3f3f4
}

i.icon.icon-check-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/check_white.svg");
}

i.icon.icon-check-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/check_blue.svg");
}

i.icon.icon-close-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/close_blue.svg");
}

i.icon.icon-close-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/close_white.svg");
}

i.icon.icon-information-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/information_blue.svg");
}

i.icon.icon-information-gray {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/information_gray.svg");
}

i.icon.icon-my-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/my_blue.svg");
}

i.icon.icon-my-gray {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/my_gray.svg");
}

i.icon.icon-order-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/order_blue.svg");
}

i.icon.icon-order-gray {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/order_gray.svg");
}

i.icon.icon-profile-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/profile_blue.svg");
}

i.icon.icon-profile-gray {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/profile_gray.svg");
}

i.icon.icon-refund-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/refund_blue.svg");
}

i.icon.icon-refund-gray {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/refund_gray.svg");
}

i.icon.icon-shop-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/shop_blue.svg");
}

i.icon.icon-shop-gray {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/shop_gray.svg");
}

i.icon.icon-home-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/home-blue.svg");
}

i.icon.icon-service-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/service_blue.svg");
}

i.icon.icon-member-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/member_blue.svg");
}

i.icon.icon-recharge-blue {
     width: 24px;
     height: 24px;
     background-image: url("../js/framework7/img/recharge_blue.svg");
 }

i.icon.icon-settings-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/settings_blue.svg");
}

i.icon.icon-logout-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/logout_blue.svg");
}

i.icon.icon-goods-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/goods_white.svg");
}

i.icon.icon-back-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/back_white.svg");
}

i.icon.icon-delete-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/delete_white.svg");
}

i.icon.icon-phone-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/phone_blue.svg");
}

i.icon.icon-address-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/address_blue.svg");
}

i.icon.icon-member-card-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/member_card_blue.svg");
}

i.icon.icon-points-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/points_blue.svg");
}

i.icon.icon-petcard-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/petcard_blue.svg");
}

i.icon.icon-member-info {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/member_info.svg");
}

i.icon.icon-average-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/average_blue.svg");
}

i.icon.icon-totalamount-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/totalamount_blue.svg");
}

i.icon.icon-clock-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/clock_blue.svg");
}

i.icon.icon-single-discout-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/single_discount_blue.svg");
}

i.icon.icon-single-discout-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/single_discount_white.svg");
}

i.icon.icon-add-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/add_white.svg");
}

i.icon.icon-minus-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/minus_white.svg");
}

i.icon.icon-print-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/print_white.svg");
}

i.icon.icon-clearing-white {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/clearing_white.svg");
}

i.icon.icon-bankcard-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/bankcard_blue.svg");
}

i.icon.icon-alipay-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/alipay_blue.svg");
}

i.icon.icon-ecoupon-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/e-coupon.svg");
}

i.icon.icon-giftcard-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/gift_card_blue.svg");
}

i.icon.icon-wechatpay-blue {
    width: 24px;
    height: 24px;
    background-image: url("../js/framework7/img/weichatpay_blue.svg");
}

.page-login .signup {
    font-size: 0.7rem;
}

.page-login .leader {
    margin: 3rem 0 1rem 0;
    padding: 0.5rem 0;
    font-size: 0.7rem;
    border-top: 1px dashed #ccc;
    color: #999;
}

.page-login .leader:after {
    left: auto;
    right: 1rem;
}

.page-login .others {
    text-align: center;
}


.page-goods .swiper-container {
    height: 10rem;
}

.page-goods .swiper-slide img {
    width: 100%;
}

.page-detail .swiper-container {
    height: 10rem;
}

.page-detail .swiper-slide img {
    width: 100%;
}

.page-detail .goods-card {
}

.page-detail .goods-card h3 {
    font-size: 0.8rem;
}

.page-detail .goods-card del {
    font-size: 0.6rem;
    color: gray;
}

.page-detail .goods-card .row {
    font-size: 0.7rem;
}

.page-settings .person-card {
    margin: .6rem 0;
}

.page-settings .row {
    border: 1px solid #ccc;
    background: white;
    border-left: 0;
    border-right: 0;
}

.page-settings .row h4 {
    margin: 0.3rem 0;
}

.page-settings .row .color-gray {
    margin: 0.3rem 0;
    font-size: 0.7rem;
}

.page-settings .col-25 + .col-25 {
    border-left: 1px solid #ccc;
}

.page-settings .person-card img {
    border-radius: 100%;
}

.page-settings .person-card ul {
    background: transparent;
}

.page-settings .person-card .item-text {
    height: auto;
}

.page-settings .person-card ul:before,
.page-settings .person-card ul:after {
    display: none;
}

.page-settings .list .icon {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.tab1-active {
    width: 33.3333%;transform: translate3D(0%,0px,0px)
}

.tab2-active {
    width: 33.3333%;transform: translate3D(100%,0px,0px)
}

.tab3-active {
    width: 33.3333%;transform: translate3D(200%,0px,0px)
}
