<div class="content-block">
    <% _.each(obj,function(e,i){ %>
    <div class="row">
        <div class="col-100 text-center">
            <a type="button" class="button color-pink ripple toItemList" n="<%= i %>"><%= e.kind_name %></a>
        </div>
    </div>
    <% }) %>
    <!--<div class="row">-->
        <!--<div class="col-100 text-center">-->
            <!--<a type="button" class="button color-pink ripple">二级分类二</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-100 text-center">-->
            <!--<a type="button" class="button color-pink ripple">二级分类三</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-100 text-center">-->
            <!--<a type="button" class="button color-pink ripple">二级分类四</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-100 text-center">-->
            <!--<a type="button" class="button color-pink ripple">二级分类五</a>-->
        <!--</div>-->
    <!--</div>-->
</div>

